/*
 * <TWCMS> Module
 *
 * Part of TWCMS Error Module
 *
 * Error Admin CSS
 */

@import "/css/jquery.dataTables.css";

#e_error {
	width: 500px;
}
#e_trace {
	width: 500px;
}
#e_dump {
	width: 600px;
	padding: 2px;
	padding-left: 5px;
}
#e_dump a {
	padding: 0;
	margin: 0;
	color: #000;
}
.errbox {
	border: 1px solid #000;
	background-color: #F0F0F0;
	margin: 0 auto;
	padding: 5px;
}
.errbox .array {
	padding-left: 20px;
	margin: 0;
}
