/*
 * TWCMS Default Global CSS
 *
 * Coded by Steven Bower
 * TurnWheel Designs (cc) 2010-2012
 */

/* Google Web Fonts */
/* @import "http://fonts.googleapis.com/css?family=Marck+Script|Varela+Round"; */

/* ColorBox plugin */
@import "/css/jquery.colorbox.css";

/* Custom Icon Set */
@import "/css/cms._icons.css";

/* Global Defintions */
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background: transparent url(/images/bg.jpg) repeat;
	color: #3C3C3C;
	margin: 0;
	padding: 0;
	letter-spacing: .5px;
	line-height: 1.5em;
	font-weight: normal;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
}
a {
	color: #48036F;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
img, a img {
	border: 0;
	outline: 0;
}
ul, ol {
	list-style-position: inside;
}
h1 {
	display: none;
}
h2 {
	font-family: cursive;
	font-size: 2em;
	color: #2A4580;
	margin: 15px 0 15px 0;
}
h2 a {
	text-decoration: none;
	color: #2A4580;
}
h3 {
	font-family: cursive;
	font-size: 1em;
	color: #464646;
	margin: 15px 0 15px 0;
}
h4 {
	font-family: cursive;
	font-size: 1em;
	color: #464646;
	margin: 15px 0 15px 0;
}
p {
	padding-top: 5px;
	padding-bottom: 5px;
}
hr {
	margin: 30px 0 25px 0;
	color: #D9D9D9;
}


/* Tables */
table {
	width: 80%;
}
tr.table0 {
	background-color: #6C8DD5;
}
tr.table1 {
	background-color: transparent;
}
td {
	padding: 3px;
	vertical-align: top;
}

/* Forms */
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
	color: #999;
}
fieldset {
	margin-left: 10px;
	margin-bottom: 25px;
	padding-top: 5px;
	padding-left: 15px;
	border: 1px solid #2A4580;
	background-color: #6C8DD5;
	color: #000;
}
legend {
	font-size: 1em;
	font-family: sans-serif;
	letter-spacing: 1.5px;
	background: #2A4580;
	padding: 3px;
	margin: 5px 0px 8px 0px;
	border: 1px solid #6C8DD5;
	color: #FFF;
	font-weight: 700;
}
label {
	cursor: pointer;
}
input {
	background: #FFF;
	color: #000;
	border: 1px solid #06276F;
	outline: 0;
	height: 25px;
	min-width: 200px;
}
textarea {
	background: #FFF;
	color: #000;
	border: 1px solid #06276F;
	outline: 0;
}
input[type="checkbox"], input[type="radio"] {
	height: auto;
	width: auto;
	min-width: 0;
}
button {
	text-transform: uppercase;
	text-align: center;
	background: #06276F;
	color: #E9E9E9;
	padding: 5px;
	border: 1px solid #06276F;
}
button.link span {
	font-family: Arial, sans-serif;
	font-size: 18px;
	padding: 5px;
}
button:hover {
	background: #4573D5;
	border: 1px solid #4573D5;
}

/* Template Definitions */
#top {
	width: 100%;
	height: 170px;
	background: transparent url(/images/topbg.jpg) top left repeat-x;
}
#container {
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	height: auto !important;
	width: 994px;
	background: transparent;
}
header {
	position: absolute;
	margin: 0 auto;
	top: -170px;
	width: 975px;
	background: transparent;
}
#logo {
	float: left;
	width: 400px;
}
#logo a {
	display: block;
	width: 400px;
	height: 100px;
}
#logo b {
	display: none;
}
#contactinfo {
	padding-top: 15px;
	float: right;
	color: #FFF;
	font-size: 1.2em;
	text-align: right;
}
#contactinfo .phone {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}
#contactinfo .address {
	display: block;
	font-size: 14px;
}
#menu ul {
	margin: 0px;
	height: 40px;
	position: absolute;
	top: 125px;
	left: 66px;
}
#menu li {
	list-style: none;
	float: left;
	margin-left: 30px;
	top: 0;
}
#menu a {
	font-family: 'Century Gothic', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 8px;
	color: #FFF;
	height: 30px;
	display: block;
	background: transparent;
	outline: 0;
	text-shadow: 1px 1px 0px #777;
}
#menu a:hover {
	color: #FFF;
	text-shadow: 0px 0px 4px #FFF;
}
#content {
	width: 970px;
	padding: 40px 0 50px 10px;
}
#content ul li {
	margin: 10px 0 20px 15px;
}
#content_inner {
	float: left;
	width: 600px;
}
#content_side {
	float: right;
	width: 300px;
	margin: 0;
	padding: 0 10px 10px 10px;
	background: #6C8DD5;
}
#content_side h2 {
	font-family: 'Varela Round', cursive;
	font-size: 1.125em;
	color: #2A4580;
	margin: 10px 0 10px 0;
}
#footer_top {
	width: 100%;
	height: 7px;
	background: transparent url(/images/footer_top_bg.jpg) repeat-x top center;
	overflow: hidden;
}
#footer {
	width: 100%;
	height: 160px;
	background: transparent url(/images/footerbg.jpg) repeat;
}
footer {
	margin: 0 auto;
	height: 150px;
	width: 996px;
	font-family: 'Arial', sans-serif;
	color: #006FAE;
	padding-top: 10px;
	background: transparent url(/images/footerbg.jpg) repeat;
}
footer a {
	font-family: 'Arial', sans-serif;
	color: #006FAE;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
footer p {
	margin: 5px 0;
	padding: 0;
	text-align: center;
}
footer .copyright {
	font-size: 0.8em;
	color: #636363;
}
footer .copyright a {
	color: #636363;
	text-decoration: underline;
}
footer .copyright a:hover {
	text-decoration: none;
}

/** Begin Classes **/

/* Social Media Links */
.social {
	margin: 0 auto;
	width: 160px;
	padding: 15px 0 10px 5px;
	height: 44px;
	background: transparent;
}
.social a {
	display: block;
	width: 45px;
	height: 44px;
	float: left;
	margin: 0 3px 0 3px;
	background: transparent url(/images/social.png) no-repeat;
}
.social b {
	display: none;
}
.social .facebook {
	background-position: 0 0;
}
.social .yelp {
	background-position: -55px 0;
}
.social .google {
	background-position: -110px 0;
}

/* Content Boxes */
.box {
	border: 1px solid #2A4580;
	background-color: #6C8DD5;
	color: #000;
	margin-bottom: 10px;
}
.box p {
	padding: 15px;
}
.box strong {
	color: #2A4580;
}
.box.error {
	border-color: #FF0000;
}
.box.error strong {
	color: #FF0000;
}

/* List-item Boxes */
li.box {
	width: 45%;
	float: left;
	padding: 5px;
	margin-right: 20px;
	min-height: 125px;
	cursor: pointer;
}
li.box:hover {
	background: #CCC;
	border-color: #0073ff;
}

/* Icons */
.icon {
	padding-left: 15px;
}

/* Colors */
.error, .red {
	color: #FF0000;
}
.green {
	color: #629632;
}

/* Positional */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.clear {
	clear: both;
	background: none;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.fright {
	float: right;
}
.fleft {
	float: left;
}

/* Style */
.hidden {
	display: none;
}
.border {
	background-color: #948FC5;
	padding: 5px;
	text-align: center;
}
.border img {
	margin: 0 auto;
}
.bold {
	font-weight: bold;
}
.quote {
	text-align: justify;
	font-style: italic;
}
.quote_author {
	text-align: right;
}
