<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>This Is A Demo Template</title>
	<meta name="robots" content="index, follow">

	<link rel="icon" href="/images/fav.png" />
	<link rel="stylesheet" href="css/global.css" />

	<script src="js/jquery.min.js"></script>
	<script src="js/global.js"></script>

	<!-- Google Analytics -->
	<script>
	//<!--
	var _gaq = _gaq || [];
	//UNCOMMENT WITH NEW ID _gaq.push(['_setAccount', 'UA-xxxx-xxx']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	//-->
	</script>
</head>
<body>
	<div id="top"></div>
	<div id="wrapper">
		<div id="header">
			<div id="logo"><h1><a href="/"><b>This Is A Demo Template</b></a></h1></div>
			<ol id="menu">
				<li id="home"><a href="#">Home</a></li>
				<li id="about"><a href="#about">About Us</a></li>
				<li id="thing"><a href="#thing">Something Cool</a></li>
				<li id="contact"><a href="#contact">Contact Us</a></li>
			</ol>
		</div>
		<!-- End #header -->

		<div id="inner_wrap">
			<div id="content">
				<h2>Welcome to DemoTemplate.com!</h2>
				<p>Something about this website? I have no clue.</p>

				<hr />

				<h2>Latest News</h2>
				<div class="entry">
					<p>Lorem Ipsum de whatever and junk</p>
					<p>
						<abbr title="Hypertext Markup Language">HTML</abbr>
						is all about <abbr title="Etcetera">Etc.</abbr>
					</p>
					<p><a href="#">Read More...</a></p>
				</div>

				<hr />

				<form method="post" action="#">
				<fieldset>
					<legend>A Sample Form</legend>
					<div>
						<label for="f_email">Email: </label>
						<input type="email" name="email" id="f_email" /><br />

						<label for="f_name">Name: </label>
						<input type="text" name="name" id="f_name" /><br />

						<label for="f_error" class="error">Error: </label>
						<input type="text" name="error" class="error" id="f_error" /><br />

						<label for="f_text">Textarea Sample:</label><br />
						<textarea name="text" id="f_text" style="width:90%;height:100px;"></textarea><br />

						<button type="submit" name="submit">Sign Up!</button>
					</div>
				</fieldset>
				</form>
				
				<hr />

				<div class="box">
					<p>
						This is a <strong>Sample Box</strong>
					</p>
					<p>
						Do you like how it looks? Keep pleying with
						the colors! Lorem Ipsum blah blah blah...
					</p>
				</div>

				<div class="box error">
					<p>
						<strong>Error!</strong>
						This is the error box (.box.error)
					</p>
				</div>
			</div>
			<!-- End #content -->
			
			<div id="sidebar">
				<h3>Sidebar Area</h3>
				<ul>
					<li><a href="#">Some Links Here</a></li>
					<li><a href="#">Other Stuff</a></li>
					<li><a href="#">How about more lists?</a></li>
				</ul>

				<p>Blah blah blah stuff</p>
			</div>
			<!-- End #sidebar -->

			<div class="clear"></div>
		</div>
		<!-- End #inner_wrap -->

		<div id="push"></div>
	</div>
	<!-- End #wrapper -->

	<div id="footer">
		<p class="copyright">
			&copy; Copyright 2011 TurnWheel.com &mdash; All Rights Reserved<br />
			Website by <a href="http://turnwheel.com/" rel="external">TurnWheel Web Designs</a>
		</p>
	</div>
	<!-- End #footer -->
</body>
</html>
