#php_flag display_errors on
#ErrorDocument 404 /error404

# Sonic.net PHP 5.3
#Action php-cgi /cgi-bin/php53
#AddHandler php-cgi .php

DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# .net/.org Redirect
	#RewriteCond %{HTTP_HOST} ^turnwheel.(net|org)
	#RewriteRule ^(.*) http://turnwheel.com/$1 [R=301,L]

	# WWW Redirect
	#RewriteCond %{HTTP_HOST} ^www.turnwheel.com
	#RewriteRule ^(.*) http://turnwheel.com/$1 [R=301,L]

	############################################
	## workaround for HTTP authorization
	## in CGI environment (like Sonic.net PHP 5.3)
	#RewriteRule .* - [E=HTTP_AUTH:%{HTTP:Authorization}]

	############################################

	# Don't rewrite for existing files, directories and links
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l

	# Forces trailing slash (/about -> /about/)
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ $1/ [L,R=301]

	# Everything goes to index
	RewriteRule . /index.php [L,QSA]
</IfModule>
